---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

---


<html lang="en">
	<head>
		<BaseHead title="Contact" />
	</head>

	<body>
		<Header />
		<main>
			<section>
                <h1 class="title__center">Contact</h1>
                
                <form>
                    <div>
                        <label>Name</label>
                        <input class="input" type="text" />
                    </div>

                    <br />
                    <div>
                        <label>Email</label>
                        <input class="input" type="email" />
                    </div>

                    <div>
                        <textarea></textarea>
                    </div>
                </form>

            </section>
		</main>
		<Footer />
	</body>
</html>
